@charset "UTF-8";

/* Iman Ghader temp site CSS */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

html, body {
	font-weight: 400;
	width: 100%;
	font-family: sans-serif;
	/*background-color: #DE9939;*/
	background-color: #999;
	margin: 0;
}

img {
	width: 100%;
}

p {
	margin-bottom: 1rem;
}

main {
	width: 90%;
	margin: 1rem auto;
	overflow: auto;
	height: auto;
}

.home {
	background-image: url(../imgs/placeholder.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.logo{
	width: 100%;
	display: block;
	padding: 1rem;
	margin: 0 auto;
}

.nav {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.nav ul {
	width: 100%;
	text-align: center;
	padding-left: 0;
}

.nav li {
	list-style-type: none;
	display: inline-block;
	padding: 1rem;
	border: 1px;
	border-style: solid;
	
}

.slogan {
	text-align: center;
	font-size: 2rem;
	font-family: 'Josefin Slab', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	padding: 3rem;
	margin: 0;
}

.flexslider{
	max-width: 45rem; /*720px*/
	margin: 3rem auto;
	border: 0;
	box-shadow: none;

}

.flex-control-nav {
	display: none;
}




























