@charset "UTF-8";

/* Iman Ghader temp site CSS */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

html, body {
	font-weight: 400;
	width: 100%;
	font-family: 'Lato', sans-serif;
	/*background-color: #DE9939;*/
	background-color: #999;
	margin: 0;
}

img {
	width: 100%;
}

main {
	width: 100%;
	overflow: hidden;
	height: auto;
}

.home {
	background-image: url(../imgs/placeholder.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.logo{
	width: 100%;
	display: block;
	padding-top: 1rem;
	margin: 0 auto;
}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
}  

.nav {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.nav ul {
	width: 100%;
	text-align: center;
	padding-left: 0;
	margin: auto;
}

.nav li {
	list-style-type: none;
	display: inline-block;
	padding: 0.5rem;
	border: 1px;
	border-style: solid;
	text-transform: uppercase;
	font-weight: 600;	
}

.nav a {
	text-decoration: none;
	font-family: 'Josefin Slab'
}

.nav a:link, 
a:visited {
	color: #000;
}

.nav a:hover,
a:active{
	color: #fff;
}

.slogan {
	text-align: center;
	font-family: 'Josefin Slab', sans-serif;
	font-weight: 600;
	position: relative;
	text-transform: uppercase;
	padding: 1.8rem 3rem 4rem;
	margin: 0;
	font-size: 1.7rem;
	line-height: 1.7rem;

}
/* /////////////////////////////////// About */

.flexslider{
	max-width: 45rem; /*720px*/
	margin: 3rem auto;
	border: 0;
	box-shadow: none;

}

.flex-control-nav {
	display: none;
}

/* /////////////////////////////////// Work */

#section-3 {
	background-color: #fff;
	overflow: hidden;
	padding-top: 1rem;
}

.pieces p{
	text-transform: uppercase;
	position: absolute;
	margin-top: -2.5rem;
}

.pieces a:link,
a:visited {
	text-decoration: none;
	color: #000;
}

.pieces a:hover,
a:active {
	color: #fff;
}

/* /////////////////////////////////// Footer */

footer li {
	height: 3rem;
	width: 3rem;
	display: inline-block;
	float: left;
	margin-left: 1rem;
}

footer a:link {
	width: 100%;
}

footer p {
	margin-top: 1rem;
}




























