.iaw-banner {
	background: transparent url(../imgs/work/iaw-banner.jpg) no-repeat center center;
	background-size: cover;
}

.iaw-banner h2 {
	color: #fff;
	display: block;
	padding: 15rem 3rem;
	text-align: center;
}

.work-text {
	max-width: 42rem;
	margin: 5rem auto;
}

.work-imgs {
	max-width: 45rem;
	margin: 0 auto;
	display: block;
}

@media only screen and (min-width: 30em) { /*480*/

	.iaw-banner {
		margin-top: 5rem;
	}

}