.iaw-banner {
	background: transparent url(../imgs/work/iaw-banner.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.salam-banner {
	background: transparent url(../imgs/work/salam-banner.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.bashai-banner {
	background: transparent url(../imgs/work/bashai-banner.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.beasts-banner {
	background: transparent url(../imgs/work/beasts-banner.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.izze-banner {
	background: transparent url(../imgs/work/izze-banner.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.mbc-banner {
	background: transparent url(../imgs/work/mbc-banner.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.mixme-banner {
	background: transparent url(../imgs/work/mixme-banner.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.salam-site-banner {
	background: transparent url(../imgs/work/salam-site-banner.jpg) no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.iaw-banner h2,
.salam-banner h2,
.bashai-banner h2,
.beasts-banner h2,
.izze-banner h2,
.mbc-banner h2,
.mixme-banner h2,
.salam-site-banner h2{
	color: #fff;
	display: block;
	padding: 13rem 3rem;
	text-align: center;
}

.work-text {
	max-width: 42rem;
	margin: 5rem auto;
	border-left: 3px solid #e3a24a;
}

.work-imgs {
	max-width: 45rem;
	margin: 0 auto 1rem;
	display: block;
}

.video {
	width: 100%;
	max-width: 40rem;
	display: block;
	margin: 0 auto 1rem;
}

@media only screen and (min-width: 30em) { /*480*/

	.iaw-banner,
	.salam-banner,
	.bashai-banner,
	.beasts-banner,
	.izze-banner,
	.mbc-banner,
	.mixme-banner,
	.salam-site-banner {
		margin-top: 5rem;
	}

	.work-text {
		margin: 8rem auto;
	}

}

@media only screen and (min-width: 90em) { /*1440*/
	.iaw-banner h2,
	.salam-banner h2,
	.bashai-banner h2,
	.beasts-banner h2,
	.izze-banner h2,
	.mbc-banner h2,
	.mixme-banner h2,
	.salam-site-banner h2{
		padding: 20rem 3rem;
	}

	.work-text {
		margin: 15rem auto;
	}
}